version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile.prod
    env_file:
      - .env.prod
    depends_on:
      - mysql

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.prod.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env.prod
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
